<div class="tale-container">
  <div class="col-md-12">
    <h3 class="tale-header">Begin a new Tale!</h3>
    <hr>
    <br>
  </div>

  <div class="tale-form">
    
    <form class="form-horizontal">

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="userName">Name</label>  
      <div class="col-md-5">
      <input id="userName" name="userName" ng-model="user.userName" type="text" placeholder="Philip J. Fry" class="form-control input-md">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>  
      <div class="col-md-5">
      <input id="email" name="email" ng-model="user.email" type="text" placeholder="fry@planet-express.com" class="form-control input-md">
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="tale"></label>
      <div class="col-md-5">
        <button ng-click="submitName()" id="tale" name="tale" class="btn btn-success btn-block">Start your Tale!</button>
      </div>
    </div>

    </form>
  </div>

</div>